body {
  text-align: center;
  font-family: Arial;
  background: #f0f0f0;
}

select {
  padding: 10px;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}
